//container bootstrap ok
//<div class="d-flex justify-content-center">...</div>
//font-italic

.article{

    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px 0 20px 0;
    margin: 0%;

    position: relative;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.226);
    

    .articleImg{
        position: relative;
        height: 350px;
        width: 100%;
        overflow: hidden;

        & img{
            width: 100%;
            height: auto;
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    .article-cont{
        margin: 10px 30px 10px 30px;
    }

    .mg-btt{
      margin-bottom: 20px;
    }

    .tag-cont{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: baseline;
    
    }

   
    
    p {
        font-family: 'Questrial', sans-serif;
        min-height: 100px;
        border-bottom: 10px;
        line-height: 1.5;
        font-size: 20px;

    &::first-letter {
        font-size: 250%;
        text-transform: uppercase;
        color: white;
        background-color: $main;
        padding: 6px 3px;
        border-radius: 2px;
        margin-right: 6px;
        float: left;
      }

    }

    .title{
        font-family: 'DM Serif Display', serif;
        color: $main;
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 30px;
    }

    .date{
        font-size: 17px;
    }

    h4{
        
        color: $main
    }

    p, h6{
        color: $mytext
    }

    
}



