.display{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .my-card{
        width: 30%;
        height: 600px;
        margin: 10px 10px;
        position: relative;
        background-color: white;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.226);
    }

    .img-cont{
        width: 100%;
        height: 300px;
        overflow: hidden;
        border: 1px solid rgba(85, 85, 85, 0.404);
        & img{
            width: 100%;
            height: auto;
            margin-top: auto;
        }
    }

    .title{
        font-family: 'DM Serif Display', serif;
        color: $main;
        margin: 13px 0px;
        font-size: 22px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }

    .tag-div{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        height: 70px;
    }

    .card-p{
        height: 95px;
    }

    p {
        color: $mytext;
        font-size: 18px;
    }

    h5, h6{
        color: $main;
        font-size: 18px;
    }

}
