.dashboard{
    margin: 60px 60px;
    height: 550px;
    background-color: $main;
    border-radius: 20px;
    display: flex;

    & .side-bar{
        display: flex;
        flex-direction: column;

        margin: 50px 0px 30px 40px;
        width: 300px; 

        &>a{
            font-size: 18px;
            color: white;

            &>i{
               margin: 10px;
               font-size: 25px;
            }
        }

        &>h3{
            margin-left: 5px;
            color: white;

            &>i{
               margin: 5px;
               font-size: 25px;
            }
        }
    }

    & .frame{
        width: 100%;
        //height: 740px;
        margin: 45px 40px 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $body-bg;
    }
}

.round-container{
    width: 730px;
    height: 220px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
    background-color: white;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.226);

    &>*{
        margin-left: 10px;
        margin-right: 10px;
    }
}

.welcome-greeting{
    width: 260px;
}

.avatar-container{
    position: relative;
    height: 220px;
    width: 220px;
    overflow: hidden;
    border-radius: 50%;
   //box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.226);
    cursor: pointer;

    & img{
        width: calc(100% + 4px);
        height: auto;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}


//----toggle

#toggleDiv {
    width: 100px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: $main;
  }
  
  #toggleDiv.hide {
    display: none;
    animation-duration: 4s;
  }


  
